@font-face {
    font-family: 'lato';
    src: url('../../public/fontes/Lato-Regular.ttf') format('TrueType');
}


/* Emails */

.email-body {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 19rem;
    max-width: 21rem;
    height: 29rem;
    border-radius: 10px;
    background-color: #000000ea;
    color: var(--fontTransparent);
    font-family: 'lato', sans-serif;
    font-size: 1em;
    z-index: 100;
    transition: max-width 1s ease;
    transition: height 1s ease;
}

.subject-container {
    width: 95%;
    max-height: 10%;
    margin: 7px;
    padding: 8px;
    border-radius: 15px;
    background-color: var(--transparent);
    overflow: hidden;
}

.attachment-icon:hover {
    animation: diminuir .3s ease forwards;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    overflow-y: auto;
}

.content-container::-webkit-scrollbar {
    width: 7px;
    background-color: #000000ea;
    border-bottom-right-radius: 10px;
}

.content-container::-webkit-scrollbar-button {
    height: 10px;
}

.content-container::-webkit-scrollbar-thumb {
    background-color: #01bda7;
    border-radius: 5px;
}

.content-container p {
    padding: 10px;
    text-align: justify;
    text-indent: 10px;
}

/* Enviar Email */

#receiver-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    padding: 5px 0px 0px 5px ;
}

#receiver-container span {
    margin-right: 5px;
}

#receiver-container img {
    width: 30px;
    border-radius: 9999px;
    border: 1px solid var(--fontTransparent);
    background-color: #00dfc4;
    backdrop-filter: blur(10px);
}

.attachment-container {
    display: flex;
    width: 100%;
    height: 6%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.attachment-container div {
    position: relative;
}

img.attached-icon {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 20px;
}

img.attached-midia {
    width: 35px;
}

#send {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 35px;
    animation: flutuar 1s ease-in-out alternate infinite;
}

#send:hover {
    animation: diminuir .3s ease forwards;
}

