@charset "UTF-8";

@font-face {
    font-family: 'cameras';
    src: url('../../public/fontes/RobotoMono.ttf') format('TrueType');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../../public/fontes/Montserrat.ttf') format('TrueType');
}

@keyframes flutuar {
    to {
        transform: translateY(5%);
    }
}

@keyframes crescer {
    to {
        transform: scale(1.1);
    }
}

@keyframes abrir {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scaleY(0.2);
        opacity: 70;
    }

    100% {
        transform: scale(1);
        opacity: 100;
    }
}

@keyframes aparecer {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }    
}

@keyframes diminuir {
    to {
        transform: scale(0.9);
    }
}

/* Configurações globais */

:root {
--transparent: #ffffff0e;
--greyTransparent: #0000009a;
--darkerTransparent: #000000ea;
--highLight: #03d3b7;
--highLightDarker: #01be76;
--test: #a9a9a9;
--fontTransparent: #ffffffd5;
--white: #f1f1f1;
--blur: blur(10px);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}

img {
    user-select: none;
}

a {
    text-decoration: none;
    color: white;
}

p {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.514);
}

/* Corpo da página e contéudo principal */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
    background-image: url('../../public/midia/ceu.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
    overflow: hidden;
}

/* Topo do telefone */

section#topo {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 242px;
    height: 105px;
    margin-top: 61px;
    font-family: 'montserrat';
    filter: sepia(100%);
}

section#topo > p#hora {
    font-size: 2.5em;
    margin-left: 5px;
    margin-top: 5px;
}

section#topo > p#data {
    font-size: 0.8em;
    margin-left: 10px;
}

section#topo > img {
    position: absolute;
    align-self: flex-end;
    width: 25px;
    padding: 3px;
    margin: 5px;
}

 /* Configurações gerais dos icônes do telefone */

section#icones {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 70px 70px 70px;
    gap: 10px 20px;
    width: 242px;
    height: 320px;
    margin-top: 165px;
}


div.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div.imagemIcone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin: auto;
    border-radius: 15px;
}

div.inativo {
    background-color: rgba(0, 0, 0, 0.466);
    
}

div.inativo img {
    opacity: 0.5;
}

div.ativo {
    animation: flutuar 1s ease-in-out infinite alternate;
    background-color: #f1f1f1;
}

div.ativo:hover {
    background-color: #03d3b7;
}

div.imagemIcone img {
    width: 33px;
}

/* Configurações pontuais dos icônes do telefone */

#cameras {
    grid-row: 4;
    grid-column: 1;
}

#delegacia {
    grid-row: 3;
    grid-column: 2;
}

#vulture {
    grid-row: 2;
    grid-column: 3;
}

#mapa {
    grid-row: 4;
    grid-column: 3;
}

#lista {
    grid-row: 2;
    grid-column: 1;
}

#chat {
    grid-row: 2;
    grid-column: 1;
}

#missoes {
    grid-row: 1;
    grid-column: 2;
}

#discar {
    grid-row: 1;
    grid-column: 3;
}

/* Rodapé */

footer {
    width: 100%;
    padding: 5px;
    font-size: 1em;
    text-align: center;
    color: var(--fontTransparent);
    background-color: var(--transparent);
}

/* Outros */

.overlayScreen {
    animation: aparecer 0.5s ease-in-out forwards;
}

.blurElement::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.726);
    z-index: 99;
}

.camerasText {
    position: absolute;
    font-size: 0.8em;
}

.videoOn {
    display: block;
}
