/* Configurações gerais das Telas */

section.tela {
    width: 22rem;
    height: 25rem;
    position: absolute;
    background-color: var(--transparent);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    animation: abrir 1s ease-in-out forwards;
    transition: width 1s ease;
    transition: height 1s ease;
    z-index: 2;
}

div.telaTopo {
    display: flex;
    column-gap: 10px;
    position: absolute;
    top: 0;
    align-self: flex-start;
    width: 100%;
    background-color: var(--greyTransparent);
    border-top-left-radius: 10px;
}

div.telaTopo > img {
    background-color: grey;
    width: 22px;
}

div.telaTopo > img:hover {
    background-color: black;
}

div.telaTopo > img:active {
    background-color: #00dfc4;
}

div.telaTopo > img#proximo {
    border-top-left-radius: 10px;
}

div.telaTopo > img.sair {
    margin-left: auto;
    border-top-right-radius: 10px;
}

div.telaCentro {
    width: 300px;
    height: 200px;
}

/* Tela das câmeras */

section#telaCameras {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    font-family: 'cameras';
}

section#telaCameras > #area-camera {
    position: relative;
    width: auto;
    height: auto;
    margin-top: 10px;
}

section#telaCameras > #area-camera > video {
    width: 340px;
    border: 1px solid var(--greyTransparent);
}

/* Tela das notas */

section#telaNotas {
    display: none; /*flex*/
    align-items: center;
    justify-content: center;
}

section#telaNotas > div#area-notas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 10px;
}

div#area-notas > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#area-notas > div > img {
    width: 30px;
}

div#area-notas > div > img:hover {
    animation: crescer .2s ease-in-out forwards;
}

div#area-notas > div > p {
    font-size: .8em;
    color: rgba(255, 255, 255, 0.733);
}

/* Tela Puzzles */

section#telaMiniGames {
    display: none; /*flex*/
    align-items: center;
    justify-content: center;
}

section#telaMiniGames > div#area-puzzle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 10px;
}

div#area-puzzle > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#area-puzzle > div > img {
    width: 35px;
    pointer-events: none;
}

div#area-puzzle > div > img:hover {
    animation: crescer .2s ease-in-out forwards;
}

div#area-puzzle > div > p {
    font-size: .9em;
    color: rgba(255, 255, 255, 0.521);
}

/* Tela discar */

section#telaDiscar {
    display: none; /*flex*/
    height: 30rem;
    font-family: 'montserrat';
}

section#telaDiscar > div.telaTopo {
    background-color: #000000ee;
    border-bottom: 1px solid #ffffffb0;
}

section#telaDiscar > div.telaTopo > img {
    background-color: transparent;
}

section#telaDiscar > div.telaTopo > img:hover {
    background-color: #00dfc4;
}

section#telaDiscar > div#area-discar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: calc(100% - 22px);
    margin-top: 22px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(0, 0, 0, 0.836);
}

div#area-discar > #discados {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 35px;
    margin-top: 20px;
    border-radius: 7px;
    background-color: #050505;
}

div#area-discar > #discados > input {
    display: flex;
    align-items: center;
    width: 90%;
    height: 30px;
    border: none;
    font-family: 'montserrat';
    font-weight: 500;
    font-size: .9em;
    letter-spacing: 2px;
    background-color: #050505;
    color: #00dfc4;
}

input:focus {
    outline: none;
}

div#area-discar > #digitos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 70%;
    height: 300px;
    background-color: #050505;
}

div#area-discar > #digitos img {
    pointer-events: none;
}

div#area-discar > #digitos > .digito-caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.digito-caixa > .digito {
    font-size: 1.1em;
}

.digito-caixa > .outros-digitos {
    font-size: 0.8em;
}

div#area-discar > div#area-discar-opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

div#area-discar > div#area-discar-opcoes > #ligar {
    width: 50px;
    height: 50px;
    background-color: #01be76;
    border-radius: 50%;
}

#ligar:hover {
    animation: diminuir .3s ease forwards;
}

div#area-discar > div#area-discar-opcoes > #apagar-digito {
    position: absolute;
    display: flex; /*flex*/
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    opacity: 0;
    transition: opacity .3s ease;
}

#apagar-digito img {
    pointer-events: none;
}

/* Tela chat */

section#telaChat {
    display: none;  
}

#telaChatTopo {
    background-color: var(--transparent);
}

div#area-chat {
    display: flex;
    width: 100%;
    height: calc(100% - 22px);
    margin-top: 22px;
}

div#area-chat #chat-perfis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 12%;
    height: 100%;
    border-right: 1px solid #ffffff5d;
    border-bottom-left-radius: 10px;
    background-color: var(--transparent);
}

#chat-perfis img {
    width: 30px;
    border-radius: 9999px;
    backdrop-filter: blur(10px);
}

/* #chat-perfis img:hover {
    background-color: #00dfc4;
    border: 1px solid rgba(0, 0, 0, 0.521);
} */

.perfil {
    border: 1px solid #ffffff5d;
    background-color: #00dfc53a;
}

.perfil-selecionado {
    background-color: #00dfc4;
    border: 1px solid rgba(0, 0, 0, 0.521);
}

div#area-chat #chat-emails {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 88%;
    height: 100%;
    border-top: 1px solid #ffffff5d;
    border-bottom-right-radius: 10px;
    background-color: var(--greyTransparent);
    overflow-y: auto;
}

div#area-chat #chat-emails::-webkit-scrollbar {
    background-color: var(--greyTransparent);
    border-bottom-right-radius: 10px;
}

div#area-chat #chat-emails::-webkit-scrollbar-button {
    height: 10px;
}

div#area-chat #chat-emails::-webkit-scrollbar-thumb {
    background-color: var(--transparent);
    backdrop-filter: blur(10px);
}

div#area-chat #chat-emails::-webkit-scrollbar-corner {
    background-color: white;
}

#chat-emails .email {
    display: flex;
    align-items: center;
    width: 99%;
    padding: 6px;
    font-size: 0.8em;
    border-bottom: 1px solid black;
    background-color: #00000059;
    color: var(--fontTransparent);
}

#chat-emails .email:hover {
    background-color: #00dfc5;
    color: black;
    text-shadow: none;
    opacity: .8;
}

.email p {
    position: relative;
    height: 1.4em;
    overflow-y: hidden;
}

.email p::after {
    
    content: '...';
}

#chat-emails #escrever-email {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #01be76;
}

#chat-emails #escrever-email img {
    pointer-events: none;
}

#escrever-email:hover {
    animation: diminuir .3s ease forwards;
}

