@media screen and (min-width: 576px) {

    /* Configurações gerais das Telas */

    section.tela {
        height: 26rem;
        width: 31.5rem;
    }

    div.telaCentro {
        width: 400px;
        height: 280px;
        font-size: 1.1em;
    }

    /* Tela das câmeras */

    section#telaCameras > #area-camera > video {
        width: 440px;
    }

    section#telaCameras > p{
        font-size: 1.2em;
    }

    /* Tela das notas */

    div#area-notas > div > img {
        width: 37px;
    }

    /* Tela Puzzles */

    div#area-puzzle > div > img {
        width: 37px;
    }

    /* Tela Chat */

    #chat-perfis img {
        width: 35px;
    }

    .email-body {
        max-width: 25rem;
        padding: 5px;
    }
    
    #send {
        width: 45px;
        bottom: 5px;
    }

}


